<div class="b-product_single pb-5 pt-5">
  <div class="container">
      <div class="row clearfix mb-3">
          <div class="col-md-12">
            <ul class="tags-lists">
              <li>
                <a [routerLink]="['/']">Inicio</a><span> / </span>
              </li>
              <li *ngFor="let tag of tags; let i = index">
                <a>{{tag}}</a><span> / </span>
              </li>
              <li>
                <b>{{service_name}}</b>
              </li>
            </ul>
          </div>
        </div>

    <div class="row clearfix">

      <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <ul class="social-product mb-2">
              <li class="share-text">Compartir:</li>
              <li>
                <img src="assets/img/icon-fb.png" ceiboShare [facebook]="{u: repoUrl}" />
              </li>
              <li>
                <img src="assets/img/icon-pinterest.png" ceiboShare [pinterest]="{url: repoUrl}" />
              </li>
              <li>
                <img src="assets/img/icon-twitter.png" ceiboShare [twitter]="{url: repoUrl}" />
              </li>
              <li>
                <img src="assets/img/icon-google-plus.png" ceiboShare [googlePlus]="{url: repoUrl}" />
              </li>
            </ul>
          </div>
          <div class="col-md-3" *ngIf="images?.length > 0">
            <ul class="item-images">
              <li *ngFor="let image of images">
                <a (click)="set_featured_image(image.store_image.image_path)">
                  <img [src]="image.store_image.image_path" width="100%" />
                </a>
              </li>
            </ul>
          </div>
          <div class="{{images?.length > 0 ? 'col-md-9' : 'col-md-12'}}">
            <div class="featured-image">
              <img [imageZoom]="zoomedImageSrc" [scrollZoom]="false" [src]="!featured_image ? 'https://admin.regalalo.pe/img/default-image.jpg' : featured_image" width="100%" [alt]='service_name' />
            </div>
            <p class="text-red">Pasa el mouse encima de la imagen para aplicar zoom</p>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-5 col-mb-5 col-sm-12 col-xs-12">
        <div class="product-first-detail mb-3 pb-2 row">
          <div class="col-md-8">
            <h5>{{service_name}}</h5>
          </div>
          <div class="col-md-4">
            <button *ngIf="isloggedIn" class="text-uppercase pull-left btn btn-primary btn-outline" (click)="checkout()" [disabled]="!store_open">comprar</button>
            <button *ngIf="!isloggedIn" class="text-uppercase pull-left btn btn-primary btn-outline" [routerLink]="['/register']">ingresar</button>
          </div>
        </div>

          <div class="product-second-detail row">
            <div class="col-md-4">
              <div class="old-price text-center pt-4" *ngIf="discount !== 0">
                <p>antes S/{{price}}</p>
              </div>
            </div>
            <div class="col-md-8">
              <h1 class="text-center" *ngIf="discount !== 0">S/{{discount_price}}</h1>
              <h1 class="text-center" *ngIf="discount == 0">S/{{price}}</h1>
            </div>
            <div class="col-md-12 mt-3">
              <p class="text-uppercase mb-0"><b>Descripción:</b></p>
              <div [innerHtml]="description"></div>
            </div>
          </div>
        
          <div class="product-third-detail clearfix" *ngIf="isloggedIn">
            <div class="characteristics">
              <div class="characteristic" *ngFor="let characteristic of characteristics; let i = index">
                <div class="form-group">
                  <label>{{characteristic.characteristic.name}}</label>
                  <select class="form-control" name="characteristic[i]" (change)="getCharacteristic(i, $event)">
                    <option>Seleccionar...</option>
                    <option *ngFor="let value of characteristic.product_characteristic_values.split(',')" [value]="value">{{value}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-12 col-xs-12">
          <div class="store-location">
            <agm-map *ngIf="multiple_directions == true" [latitude]="single_latitude" [longitude]="single_longitude" [zoom]="12">
              <agm-marker [iconUrl]="client_marker" [latitude]="single_latitude" [longitude]="single_longitude"></agm-marker>
              <agm-marker *ngFor="let branch of data_branche" [iconUrl]="store_marker" [latitude]="branch.latitude" [longitude]="branch.longitude"></agm-marker>
            </agm-map>
            <agm-map *ngIf="multiple_directions == false" [latitude]="single_latitude" [longitude]="single_longitude" [zoom]="14">
              <agm-direction *ngIf="directions" [origin]="directions.origin" [destination]="directions.destination" [markerOptions]="marker_options" [renderOptions]="direction_options"></agm-direction>
            </agm-map>
          </div>
        </div>

      </div>
    </div>
</div>