<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title">Tienda</h1>
  </div>
  <section class="container mb-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="b-product_grid_single">
              <div class="b-product_grid_header">
                <h3 class="product-title">
                  <a routerLink="/producto/{{product.slug}}">{{product.name}}</a>
                </h3>
                <div class="b-product_grid_action">
                  <a (click)="add_to_wishlist(product)">
                    <i class="icon-heart icons"></i>
                  </a>
                </div>
              </div>
              <div class="b-product_grid_info mb-3">
                <a routerLink="/producto/{{product.slug}}">
                  <div class="product-image">
                    <div class="image" [ngStyle]="{'background-image': 'url(' +  product.featured_image + ')'}"></div>
                  </div>
                </a>
              </div>
              <div class="b-product_grid_footer pt-3">
                <div class="clearfix">
                  <div class="row" *ngIf="product.discount != 0">
                    <div class="col-md-5">
                      <span class="regular-price">P. regular:<br> S/{{ product.price }} <span class="zero">.00</span></span>
                    </div>
                    <div class="col-md-7">
                      <span class="new-price">S/.{{ product.discount_price }} <span class="zero">.00</span></span>
                    </div>
                  </div>
                  <div class="row" *ngIf="product.discount == 0">
                      <div class="col-md-12">
                        <span class="new-price">S/.{{ product.price }} <span class="zero">.00</span></span>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

      
    </div>
  </section>