<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title">Productos de la marca</h1>
</div>
<section class="container">
  <div class="row clearfix b-shop_head">
    <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
      <nav class="b-shop_breadcrumb">
        <a [routerLink]="['/']">Inicio</a>
        <span> Productos de la marca</span>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row" infinite-scroll [infiniteScrollDistance]="5"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()">
        <div class="col-md-3 mb-3" *ngFor="let product of products">
          <div class="b-product_grid_single">
            <div class="b-product_grid_header">
              <h3 class="product-title">
                <a routerLink="/producto/{{product.slug}}">{{ (product.name.length > 40) ? (product.name | slice:0:45) + '...' : (product.name) }}</a>
              </h3>
              <div class="b-product_grid_action">
                <a (click)="add_to_wishlist(product)">
                  <i class="icon-heart icons"></i>
                </a>
              </div>
            </div>
            <div class="b-product_grid_info mb-3">
              <a routerLink="/producto/{{product.slug}}">
                <div class="product-image">
                  <div class="image" [ngStyle]="{'background-image': 'url(' +  product.featured_image + ')'}"></div>
                </div>
              </a>
            </div>
            <div class="b-product_grid_footer pt-3">
              <div class="clearfix">
                <div class="row" *ngIf="product.discount != 0">
                  <div class="col-md-5">
                    <span class="regular-price">P. regular:<br> S/{{ product.price.toFixed(2) }}</span>
                  </div>
                  <div class="col-md-7">
                    <span class="new-price">S/{{ product.discount_price.toFixed(2) }}</span>
                  </div>
                </div>
                <div class="row" *ngIf="product.discount == 0">
                  <div class="col-md-12">
                    <span class="new-price">S/{{ product.price.toFixed(2) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 fetch-loader text-center mb-3" *ngIf="fetch_loading">
          <div class="message">Cargando...</div>
          <div class="dots"><div class="center"></div></div>
        </div>
      </div>
    </div>
  </div>
</section>