<section class="container slider">
  <div  class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
      <div id="b-home_01_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
          <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" 
          data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
          data-thumb="https://admin.regalalo.pe/uploads/slides/slide-5.jpg"  data-rotate="0" 
          data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
           data-title="Ropa">
            <img src="https://admin.regalalo.pe/uploads/slides/slide-5.jpg" data-bgposition="center center" 
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          </li>
          <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" 
          data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
          data-thumb="https://admin.regalalo.pe/uploads/slides/slide-6.jpg"  data-rotate="0" 
          data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
           data-title="Accesorios">
            <img src="https://admin.regalalo.pe/uploads/slides/slide-6.jpg" data-bgposition="center center" 
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          </li>
          <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" 
          data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
          data-thumb="https://admin.regalalo.pe/uploads/slides/slide-7.jpg"  data-rotate="0" 
          data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
           data-title="Detalles">
            <img src="https://admin.regalalo.pe/uploads/slides/slide-7.jpg" data-bgposition="center center" 
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          </li>
          <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" 
          data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
          data-thumb="https://admin.regalalo.pe/uploads/slides/slide-8.jpg"  data-rotate="0" 
          data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
           data-title="Ropa">
            <img src="https://admin.regalalo.pe/uploads/slides/slide-8.jpg" data-bgposition="center center" 
            data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          </li>
        </ul>
      </div>
  </div>
</section>

<section class="container stores pt-3" id="logo-brands">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <img src="assets/img/badge-icon.png" class="icon-text" />
        <h5 class="title text-uppercase">Marcas asociadas</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <ngu-carousel [inputs]="carouselTwo">
        <ngu-item NguCarouselItem *ngFor="let brand of brands;let i = index">
          <img [src]="!brand.image ? 'https://via.placeholder.com/337x150' : brand.image" width="100%" />
        </ngu-item>
        <button NguCarouselPrev class='leftRs'>&lt;</button>
        <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>

<section class="container pt-3 mb-3" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <img src="assets/img/sale-icon-dark.png" class="icon-text" />
        <h5 class="title text-uppercase">Productos destacados</h5>
      </div>
    </div>
  </div>
  <div class="container">
      <ngu-carousel [inputs]="carouselOne" class="mb-3">
          <ngu-item NguCarouselItem *ngFor="let product of featured_products;let i = index">
              <div class="b-product_grid_single">
                  <div class="b-product_grid_header">
                    <h3 class="product-title">
                      <a routerLink="/producto/{{product.slug}}">{{product.name}}</a>
                    </h3>
                    <div class="b-product_grid_action">
                      <a (click)="add_to_wishlist(product)">
                        <i class="icon-heart icons"></i>
                      </a>
                    </div>
                  </div>
                  <div class="b-product_grid_info mb-3">
                    <a routerLink="/producto/{{product.slug}}">
                      <div class="product-image">
                        <div class="image" [ngStyle]="{'background-image': 'url(' +  product.featured_image + ')'}"></div>
                      </div>
                    </a>
                  </div>
                  <div class="b-product_grid_footer pt-3">
                    <div class="clearfix">
                      <div class="row" *ngIf="product.discount != 0">
                        <div class="col-md-5">
                          <span class="regular-price">P. regular:<br> S/{{ product.price }}</span>
                        </div>
                        <div class="col-md-7">
                          <span class="new-price">S/{{ product.discount_price.toFixed(2)}}</span>
                        </div>
                      </div>
                      <div class="row" *ngIf="product.discount == 0">
                          <div class="col-md-12">
                            <span class="new-price">S/{{ product.price.toFixed(2) }}</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </ngu-item>
          <button NguCarouselPrev class='leftRs'>&lt;</button>
          <button NguCarouselNext class='rightRs'>&gt;</button>
      </ngu-carousel>
    </div>
  </section>

<section class="container pt-3" id="offers">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 mb-3">
          <img src="assets/img/gift-icon.png" class="icon-text" />
          <h5 class="title text-uppercase">Ofertas para ti</h5>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/oferta/outdoor">
          <div class="offer-content">
            <img src="https://admin.regalalo.pe/uploads/offers/adventure-2018-06.jpg" />
            <div class="offert-text">
              <h5 class="text-uppercase">Outdoor</h5>
              <p>Prepárate para la aventura</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/oferta/accesorios-de-moda">
          <div class="offer-content">
            <img src="https://admin.regalalo.pe/uploads/offers/accesories-2018-06.jpg" />
            <div class="offert-text">
              <h5 class="text-uppercase">ACCESORIOS DE MODA</h5>
              <p>El estilo siempre está en los detalles</p>
            </div>
          </div>
        </a>
        <a routerLink="/oferta/deporte">
          <div class="offer-content">
            <img src="https://admin.regalalo.pe/uploads/offers/sports-2018-06.jpg" />
            <div class="offert-text">
              <h5 class="text-uppercase">DEPORTE</h5>
              <p>Si quieres algo, entrena para ello.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/oferta/detalles-especiales">
          <div class="offer-content">
            <img src="https://admin.regalalo.pe/uploads/offers/special-details-2018-06.jpg" />
            <div class="offert-text">
              <h5 class="text-uppercase">DETALLES ESPECIALES</h5>
              <p>Eso que buscabas para esa persona especial...</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container pt-3 mb-3" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <img src="assets/img/sale-icon-dark.png" class="icon-text" />
        <h5 class="title text-uppercase">Top regalos</h5>
      </div>
    </div>
  </div>
  <div class="container">
      <ngu-carousel [inputs]="carouselOne" class="mb-3">
          <ngu-item NguCarouselItem *ngFor="let product of products_1;let i = index">
              <div class="b-product_grid_single">
                  <div class="b-product_grid_header">
                    <h3 class="product-title">
                      <a routerLink="/producto/{{product.slug}}">{{product.name}}</a>
                    </h3>
                    <div class="b-product_grid_action">
                      <a (click)="add_to_wishlist(product)">
                        <i class="icon-heart icons"></i>
                      </a>
                    </div>
                  </div>
                  <div class="b-product_grid_info mb-3">
                    <a routerLink="/producto/{{product.slug}}">
                      <div class="product-image">
                        <div class="image" [ngStyle]="{'background-image': 'url(' +  product.featured_image + ')'}"></div>
                      </div>
                    </a>
                  </div>
                  <div class="b-product_grid_footer pt-3">
                    <div class="clearfix">
                      <div class="row" *ngIf="product.discount != 0">
                        <div class="col-md-5">
                          <span class="regular-price">P. regular:<br> S/{{ product.price }}</span>
                        </div>
                        <div class="col-md-7">
                          <span class="new-price">S/{{ product.discount_price.toFixed(2)}}</span>
                        </div>
                      </div>
                      <div class="row" *ngIf="product.discount == 0">
                          <div class="col-md-12">
                            <span class="new-price">S/{{ product.price.toFixed(2) }}</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </ngu-item>
          <button NguCarouselPrev class='leftRs'>&lt;</button>
          <button NguCarouselNext class='rightRs'>&gt;</button>
      </ngu-carousel>
      
      <ngu-carousel [inputs]="carouselTree">
        <ngu-item NguCarouselItem *ngFor="let product of products_2;let i = index">
            <div class="b-product_grid_single">
                <div class="b-product_grid_header">
                  <h3 class="product-title">
                    <a routerLink="/producto/{{product.slug}}">{{product.name}}</a>
                  </h3>
                  <div class="b-product_grid_action">
                    <a (click)="add_to_wishlist(product)">
                      <i class="icon-heart icons"></i>
                    </a>
                  </div>
                </div>
                <div class="b-product_grid_info mb-3">
                  <a routerLink="/producto/{{product.slug}}">
                    <div class="product-image">
                      <div class="image" [ngStyle]="{'background-image': 'url(' +  product.featured_image + ')'}"></div>
                    </div>
                  </a>
                </div>
                <div class="b-product_grid_footer pt-3">
                  <div class="clearfix">
                    <div class="row" *ngIf="product.discount != 0">
                      <div class="col-md-5">
                        <span class="regular-price">P. regular:<br> S/{{ product.price }}</span>
                      </div>
                      <div class="col-md-7">
                        <span class="new-price">S/{{ product.discount_price.toFixed(2)}}</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="product.discount == 0">
                        <div class="col-md-12">
                          <span class="new-price">S/{{ product.price.toFixed(2) }}</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
        </ngu-item>
        <button NguCarouselPrev class='leftRs'>&lt;</button>
        <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
  </div>
</section>

<section class="container pt-3 mb-3" id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <h5 class="title text-uppercase">Últimos artículos</h5>
      </div>
    </div>
  </div>
  <div class="b-blog b-blog_grid text-center b-blog_grid_three mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-12" *ngFor="let post of posts;let i = index">
            <div class="b-blog_grid_single">
                <div class="b-blog_single_header">
                  <div class="b-blog_img_wrap">
                    <a routerLink="/post/{{post.slug}}">
                      <img [src]="post.featured_image" class="img-fluid d-block" [alt]="post.title">
                    </a>
                  </div>
                  <div class="b-post_categories">
                    <div class="b-post_categorie_list"><span>{{post.category.title}}</span></div>
                  </div>
                </div>
                <div class="b-blog_single_info">
                  <h3 class="b-entry_title">
                    <a routerLink="/post/{{post.slug}}" rel="bookmark">{{post.title}}</a>
                  </h3>
                  <div class="b-blog_single_content">
                    <p class="text-justify">{{post.summary}}</p>
                  </div>
                  <div class="b-read_more mt-3 text-center">
                    <a routerLink="/post/{{post.slug}}">Leer más</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>