<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title">Vende aquí</h1>
</div>
<div class="b-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <form class="multi-step-form" id="msform">
          <ul id="progressbar">
            <li class="active">Datos de la empresa</li>
            <li>Representante Legal</li>
            <li>Datos para realizar abonos</li>
          </ul>
          <fieldset>
            <h3 class="fs-subtitle">Ingrese los datos principales de la empresa</h3>
            <input class="form-control" type="text" name="email" placeholder="Razón social" />
            <input class="form-control" type="text" name="email" placeholder="Nombre comercial" />
            <input class="form-control" type="text" name="email" placeholder="RUC" />
            <input class="form-control" type="text" name="email" placeholder="Domicilio legal" />
            <input class="form-control" type="text" name="email" placeholder="Giro comercial" />
            <input type="button" name="next" class="next action-button" value="Siguiente" />
          </fieldset>

          <fieldset>
            <h3 class="fs-subtitle">Ingrese los datos del contacto comercial</h3>
            <input class="form-control" type="text" name="email" placeholder="Nombres y Apellidos" />
            <input class="form-control" type="text" name="email" placeholder="Documento de identidad" />
            <input class="form-control" type="text" name="email" placeholder="Correo electrónico" />
            <input class="form-control" type="text" name="email" placeholder="Teléfono de contacto" />
            <input type="button" name="previous" class="previous action-button" value="Anterior" />
            <input type="button" name="next" class="next action-button" value="Siguiente" />
          </fieldset>

          <fieldset>
            <h3 class="fs-subtitle">Déjanos un mensaje</h3>
            <input class="form-control" type="text" name="email" placeholder="Banco" />
            <input class="form-control" type="text" name="email" placeholder="Nombre que figura el estado de cuenta" />
            <input class="form-control" type="text" name="email" placeholder="Número de cuenta bancaria" />
            <input class="form-control" type="text" name="email" placeholder="Código de cuenta interbancario CCI" />
            <input type="button" name="previous" class="previous action-button" value="Anterior" />
            <input type="submit" name="submit" class="submit action-button" value="Finalizar registro" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>