<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title">Vende aquí</h1>
</div>
<div class="b-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <form class="multi-step-form" id="msform">
          <ul id="progressbar">
            <li class="active">Datos de la empresa</li>
            <li>Representante Legal</li>
            <li>Contacto Comercial</li>
            <li>Déjanos un mensaje</li>
          </ul>
          <fieldset [formGroup]="step_1_Form">
            <h3 class="fs-subtitle">Ingrese los datos principales de la empresa</h3>
            <input class="form-control" type="text" name="business_name" placeholder="Razón social" [formControl]="step_1_Form.controls['business_name']" />
            <input class="form-control" type="text" name="comercial_name" placeholder="Nombre comercial" [formControl]="step_1_Form.controls['comercial_name']" />
            <input class="form-control" type="text" name="ruc" placeholder="RUC" [formControl]="step_1_Form.controls['ruc']" />
            <input class="form-control" type="text" name="legal_address" placeholder="Domicilio legal" [formControl]="step_1_Form.controls['legal_address']" />
            <input class="form-control" type="text" name="business_turn" placeholder="Giro comercial" [formControl]="step_1_Form.controls['business_turn']" />
            <button type="button" name="next" class="btn next btn-block btn-primary" [disabled]="step_1_Form.invalid">Siguiente</button>
          </fieldset>

          <fieldset [formGroup]="step_2_Form">
              <h3 class="fs-subtitle">Ingrese los datos del Representante Legal</h3>
              <input class="form-control" type="text" name="name" placeholder="Nombres y Apellidos" [formControl]="step_2_Form.controls['name']" />
              <input class="form-control" type="text" name="document_number" placeholder="Documento de identidad" [formControl]="step_2_Form.controls['document_number']" />
              <input class="form-control" type="text" name="phone" placeholder="Teléfono" [formControl]="step_2_Form.controls['phone']" />
              <button type="button" name="next" class="btn next btn-block btn-primary" [disabled]="step_2_Form.invalid">Siguiente</button>
            </fieldset>

          <fieldset [formGroup]="step_3_Form">
            <h3 class="fs-subtitle">Ingrese los datos del Contacto Comercial</h3>
            <input class="form-control" type="text" name="name" placeholder="Nombres y Apellidos" [formControl]="step_3_Form.controls['name']" />
            <input class="form-control" type="text" name="document_number" placeholder="Documento de identidad" [formControl]="step_3_Form.controls['document_number']" />
            <input class="form-control" type="text" name="email" placeholder="Correo electrónico" [formControl]="step_3_Form.controls['email']" />
            <input class="form-control" type="text" name="phone" placeholder="Teléfono de contacto" [formControl]="step_3_Form.controls['phone']" />
            <button type="button" name="next" class="btn next btn-block btn-primary" [disabled]="step_3_Form.invalid">Siguiente</button>
          </fieldset>

          <fieldset [formGroup]="step_4_Form">
            <h3 class="fs-subtitle">Déjanos un mensaje</h3>
            <textarea class="form-control" rows="3" placeholder="Escribe un mensaje" [formControl]="step_4_Form.controls['message']"></textarea>
            <button type="submit" name="submit" class="btn btn-block btn-primary" (click)="register_store()">
                <i [ngClass]="{'fa-circle-o-notch fa-spin': loading}" class="fa"></i>
                <span *ngIf="!loading">Finalizar registro</span></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>