<app-loader *ngIf="showLoader"></app-loader>

<div class="b-main_menu-wrapper hidden-lg-up">
    <ul class="mobile-top"> 
        <li class="search">
            <div class="search-holder-mobile">
                <app-quick-search-form></app-quick-search-form>
            </div>
        </li>
    </ul>
    <ul class="categories">
        <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/']"><span class="top">Inicio</span></a>
        </li>
        <!--<li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
            <a [routerLink]="['categorias']"><span class="top">Categorías</span></a>
        </li>-->
        <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
            <a [routerLink]="['catalogo-tiendas']"><span>Tiendas</span></a>
        </li>
        <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
            <a [routerLink]="['vende-con-nosotros']"><span>Vende con nosotros</span></a>
        </li>
        <!--<li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
            <a [routerLink]="['ayuda']"><span>Ayuda</span></a>
        </li>-->
        <li *ngIf="!(isLoggedIn$ | async)" class="b-has_sub b-dropdown_wrapper from-bottom">
            <a [routerLink]="['register']"><span>Ingresar</span></a>
        </li>
        <li *ngIf="(isLoggedIn$ | async)" class="b-has_sub b-dropdown_wrapper from-bottom">
            <a href="#" (click)="salir()"><span>Salir</span></a>
        </li>
    </ul>
</div>

<div class="b-wrapper">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>