<header id="b-header">
  <div class="b-header b-header_bg">
    <div class="container">
      <div class="b-header_topbar row clearfix">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="b-top_bar_right clearfix">
            <div class="b-topbar_menu float-md-right text-center">
              <div class="b-menu_top_bar_container">
                <ul id="b-menu_top_bar" class="b-menu">
                  <li><a href="contact-01.html">Contáctanos</a></li>
                  <li>
                    <a href="https://www.facebook.com/regalalo.pe/" target="_blank">
                      <img src="assets/img/fb-icon-shadow.png" />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/regalalo.pe/" target="_blank">
                      <img src="assets/img/insta-icon-shadow.png" />
                    </a>
                  </li>
                </ul>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-header b-header_main">
    <div class="container-fluid">
      <div class="clearfix row">

        <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
          <div class="b-logo text-sm-left text-lg-center text-xl-center">
            <a [routerLink]="['/']"><img src="assets/img/logo-regalalo.png" alt="Regálalo" /></a>
            <div class="welcome-user" *ngIf="(isLoggedIn$ | async)">
              <span>Bienvenido: </span><app-user-name></app-user-name>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-mb-6 col-sm-12 col-xs-12 mt-3 hidden-sm-down hidden-md-down">
          
          <div class="b-header_search">
            <app-quick-search-form></app-quick-search-form>
          </div>

          <div class="b-header_nav">
            <div class="b-menu_top_bar_container">
              <div class="b-main_menu menu-stay-left">
                <ul class="categories pl-0 mb-0 list-unstyled">
                  <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/']"><span class="top">Inicio</span></a>
                  </li>
                  <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
                    <a [routerLink]="['catalogo-tiendas']"><span>Tiendas</span></a>
                  </li>
                  <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
                    <a [routerLink]="['vende-con-nosotros']"><span>Vende aquí</span></a>
                  </li>
                  <li class="b-has_sub b-dropdown_wrapper from-bottom" routerLinkActive="active">
                    <a [routerLink]="['blog']"><span>Blog</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-mb-3 col-sm-6 col-xs-6">
          <div class="b-header-custom">
              <div class="b-cart_basket text-sm-left text-lg-center text-xl-center icon-last-menu hidden-lg-up">
                <a (click)="location_search()"><img id="localizame" src="assets/img/localizame-icon.png" /></a>
              </div>
              <div class="b-cart_basket text-sm-left text-lg-center text-xl-center icon-last-menu" *ngIf="isLoggedIn$ | async">
                <a [routerLink]="['mi-cuenta']"><img src="assets/img/account-icon.png" /></a>
                <span class="hidden-sm-down hidden-md-down">cuenta</span>
                <a class="logout-btn hidden-sm-down hidden-md-down" *ngIf="(isLoggedIn$ | async)" (click)="salir()"><span>Salir</span></a>
              </div>
              <div class="text-sm-left text-lg-center text-xl-center icon-last-menu" *ngIf="!(isLoggedIn$ | async)">
                <a [routerLink]="['register']"><img src="assets/img/account-icon.png" /></a>
                <span class="hidden-sm-down hidden-md-down">ingresar</span>
              </div>
              <div class="b-wishlist_icon hidden-lg-up">
                <i class="icon-menu icons b-nav_icon" id="b-nav_icon"></i>
              </div>
          </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-mb-3 col-sm-6 col-xs-6 hidden-sm-down hidden-md-down">
          <div class="b-header-custom">
              <div class="b-cart_basket text-sm-left text-lg-center text-xl-center icon-last-menu">
                <a (click)="location_search()"><img id="localizame" src="assets/img/localizame-icon.png" /></a>
                <span>localízame</span>
              </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6 hidden-sm-down hidden-md-down">
          <div class="b-header-custom">
              <div class="b-header_links hidden-sm-down">
                <div class="location-div">
                  <img src="assets/img/icon-ubicacion.png" class="marker-icon-header" />
                  <app-user-location></app-user-location>
                </div>
                <div>
                  <img src="assets/img/cupon-icon.png" class="marker-icon-header" style="margin-right: 5px;" />
                  <p>Cupones <br><span style="color: #f05224">¡Muy pronto!</span></p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 hidden-lg-up b-header_search mov">
          <app-quick-search-form></app-quick-search-form>
        </div>
      </div>
    </div>
  </div>
</header>
