<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title">Catálogo de Tiendas</h1>
</div>
<section class="container">
  <div class="row">
      <div class="col-md-3" *ngFor="let store of stores">
        <a routerLink="/tienda/{{store.slug}}">
          <img [src]="!store.logo_store ? 'https://via.placeholder.com/337x150' : store.logo_store" width="100%" [alt]="store.comercial_name" />
        </a>
        <p class="text-center">{{store.comercial_name}}</p>
      </div>
  </div>
</section>
