<div class="b-page_title b-page_title_default text-center">
  <h1 class="b-entry_title">{{title}}</h1>
</div>
<section class="container mb-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="text-center mb-4">
        <img [src]="featured_image" [alt]="title" class="post_featured_image"  />
      </div>
      <div [innerHtml]="content"></div>
      <p><b>{{author}}</b></p>
    </div>
  </div>

  <div class="row b-blog b-blog_grid text-center b-blog_grid_three mb-5" *ngIf="another_posts?.length > 0" id="related_products">
      <div class="col-md-12">
          <h5 class="text-uppercase text-left">Artículos relacionados</h5>
        </div>
    <div class="col-md-4 mb-4" *ngFor="let post of another_posts;let i = index">
        <div class="b-blog_grid_single">
            <div class="b-blog_single_header">
              <div class="b-blog_img_wrap">
                <a routerLink="/post/{{post.slug}}">
                  <img [src]="post.featured_image" class="img-fluid d-block" [alt]="post.title">
                </a>
              </div>
              <div class="b-post_categories">
                <div class="b-post_categorie_list"><span>{{post.category.title}}</span></div>
              </div>
            </div>
            <div class="b-blog_single_info">
              <h3 class="b-entry_title">
                <a routerLink="/post/{{post.slug}}" rel="bookmark">{{post.title}}</a>
              </h3>
              <div class="b-blog_single_content">
                <p class="text-justify">{{post.summary}}</p>
              </div>
              <div class="b-read_more mt-3 text-center">
                <a routerLink="/post/{{post.slug}}">Leer más</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>