/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Helvetica Neue Std';
    src: url('./assets/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica Neue Std Black';
    src: url('./assets/fonts/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@import "assets/scss/bootstrap/bootstrap";
@import "assets/scss/header";
@import "assets/scss/sidemenu";
@import "assets/scss/footer";
@import "assets/scss/blog";
@import "assets/scss/shop";
@import "assets/scss/contact";
@import "assets/scss/custom";