/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Helvetica Neue Std';
    src: url('./assets/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica Neue Std Black';
    src: url('./assets/fonts/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@import "assets/scss/bootstrap/bootstrap";
@import "assets/scss/header";
@import "assets/scss/sidemenu";
@import "assets/scss/footer";

body {
    font-family: 'Helvetica Neue Std' !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.2 !important;
    color: #292b2c !important;
    background-color: #fff !important;
}

a {
    text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.b-wrapper{
    background: #e7e7e7;
}

header#b-header {
    background: #FFF;
}

.d-transition_slow,
.b-header_main,
.b-search_popup .b-searchsubmit::before,
.b-search_popup .b-close_search,
.b-featured_cat-2 .b-img_zoom img,
.b-featured_cat-3 .b-img_zoom img,
.b-img_zoom img,
.b-feature_cat-3 .b-featured_cat_img .b-featured_cat_caption,
.b-product_grid_overlay .b-hover_mask,
.b-product_grid_overlay .b-hover_mask span,
.b-product_grid_overlay .b-hover_mask .b-product_name,
.b-banner_lg .b-banner_lg_img img, .b-minimal_banner img,
.b-mini_cart .b-close_search, .b-gallery_blocks .col-xl-6 img,
.owl-carousel .owl-nav > div.owl-prev,
.owl-carousel .owl-nav > div.owl-next {
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.d-inline-block {
    display: inline-block !important;
}

.b-header_main {
    top: -70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-header .container{
    width: 95%;
}

.b-header_bg {
    background-color: #f05223;
}

.b-header {
    border-bottom: 2px solid #f5f5f5;
}

.b-header_fixed {
    padding-top: 70px;
}

.b-header_fixed .b-header_main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFF;
    height: 120px;
    box-shadow: 0 0 2px #797979;
}

.b-header_fixed .b-header_main .b-menu_top_bar_container .b-main_menu {
    padding-top: 0;
}

.b-top_bar_left {
    padding: 10px 0;
    line-height: 21px;
}

.text-white {
    color: #fff !important;
}

.b-topbar_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.b-topbar_menu ul > li {
    position: relative;
    margin-left: -2px;
    display: inline-block;
    line-height: 30px;
}

.b-topbar_menu ul > li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.b-topbar_menu ul > li a img {
    height: 30px;
    top: 3px;
    position: inherit;
}

.b-topbar_menu ul > li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.b-topbar_menu ul > li::after {
    content: " ";
    display: inline-block;
    height: 25px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 12px;
    margin-right: 12px;
    vertical-align: middle;
}

.b-logo img {
    max-height: 80px;
}

.b-menu_top_bar_container .b-main_menu {
    padding-top: 5px;
}

.b-main_menu ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.b-main_menu > ul {
    font-size: 0;
    display: inline-block;
    text-align: left;
}

.b-main_menu:not(.b-vertical) > ul,
.b-main_menu:not(.b-vertical) > ul > li,
.b-main_menu:not(.b-vertical) > ul > li > a,
.b-main_menu:not(.b-vertical) > ul > li.b-dropdown_wrapper > a .fa-angle-down,
.b-main_menu.b-vertical .menu-heading {
    line-height: 72px;
    height: 72px;
}

.b-main_menu > ul > li {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.b-main_menu > ul > li > a {
    color: rgba(0, 0, 0, 0.9);
    display: block;
    padding-right: 11px;
    padding-left: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.b-main_menu > ul > li > a:hover {
    color: #f05224;
}

.b-main_menu > ul > li > a > .top {
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
}

.b-main_menu.menu-stay-left > ul > li:first-child > a {
    padding-left: 0px;
}

.b-main_menu > ul > li.b-dropdown_wrapper > a {
    padding-right: 20px;
}

.b-header_right {
    display: table;
    height: 96px;
    line-height: 40px;
    float: right;
}

.b-header_right > div {
    display: table-cell;
    vertical-align: middle;
}

.b-header_right .b-header_links {
    border-right: 2px solid #f5f5f5;
    padding-right: 35px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.b-header_right .b-header_links ul li a {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    top: -3px;
    position: relative;
}

.b-header_right .b-header_links ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.b-header_right .b-search_icon,
.b-header_right .b-wishlist_icon,
.b-header_right .b-cart_basket {
    padding: 0 12px;
}

.b-header_right .b-search_icon {
    padding-left: 25px;
}

.b-header_right .b-search_icon a,
.b-header_right .b-wishlist_icon a,
.b-header_right .b-cart_basket a {
    color: rgba(0, 0, 0, 0.9);
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.b-header_right .b-search_icon i,
.b-header_right .b-wishlist_icon i,
.b-header_right .b-cart_basket i {
    font-size: 20px;
}

.b-header_right .b-wishlist_icon a {
    position: relative;
}

.b-header_right .b-wishlist_icon span {
    background-color: #f05224;
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    position: absolute;
    top: -8px;
    left: 110%;
}

.b-header_right .b-header_links ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.b-header_right .b-header_links ul li a:hover,
.b-header_nav ul li a:hover {
    text-decoration: none;
}

.b-header_right .b-header_links ul li a:hover::after {
    width: 100%;
}

.b-footer_container {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-footer_container .b-main_footer {
    padding: 50px 0 20px 0;
}

.d-footer_bar {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.b-page_title_default {
    background-color: #393231;
    background-size: cover;
}

.b-page_title {
    width: 100%;
    border-bottom: 1px solid rgba(168, 168, 168, 0.15);
    padding: 15px 15px 20px;
    margin-bottom: 40px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

.b-my_account {
    margin-bottom: 60px;
    margin-top: 60px;
}

.b-auth_section {
    padding: 60px 0 100px;
    max-width: 480px;
    margin: auto;
}

.b-auth_section h2 i {
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}

input {
    border: 1px solid rgba(129, 129, 129, 0.25);
    font-size: 14px;
    line-height: 18px;
    padding: 0 10px;
    transition: border-color .5s !important;
    box-shadow: none;
    border-radius: 0;
    border-radius: 0 !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #f05224;
    box-shadow: none;
}

h1.b-entry_title {
    margin-bottom: 0;
}

button.btn-login {
    width: 100%;
    margin-top: 10px;
    border: 2px solid #393231;
    background-color: transparent;
    color: #393231;
    border-radius: 0;
}

.form-error-msg {
    color: #F44336;
}

.d-transition,
.b-search_popup .b-close_search::after,
.b-search_popup .b-close_search::before,
.b-featured_cat .b-featured_cat_in img,
.b-feature_cat-3 .b-featured_cat_img img,
.b-feature_cat-3 .b-featured_cat_img .b-featured_cat_caption a,
.b-product_grid_toggle,
.b-product_grid_toggle .b-price,
.b-product_grid_toggle .b-add_cart,
.b-product_grid_single img,
.b-product_grid_action,
.b-product_grid_action i,
.b-product_grid_action .b-add_to_whish::before,
.b-product_grid_action .b-add_to_whish img,
.b-product_grid_overlay .btn,
.b-product_grid_style_2 .b-product_bottom_slide,
.b-instagram_pics li .hover-mask,
.b-instagram_pics li .hover-mask::after,
.b-mini_cart, .b-mini_cart .b-close_search::after,
.b-mini_cart .b-close_search::before,
.b-portfolio_grid .b-portfolio_single .b-portfolio_info,
.b-portfolio_grid .b-portfolio_single .b-portfolio_info .b-portfolio_info_in,
.b-portfolio_grid .b-portfolio_single .b-expand_it {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.b-product_grid_single {
    position: relative;
}

.b-product_grid_action {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.b-product_grid_action i {
    display: block;
    margin: 10px;
    font-size: 18px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.b-product_grid_action a {
    color: #000;
    opacity: .9;
}

.b-product_grid_single:hover .b-product_grid_action {
    opacity: 1;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.btn-primary {
    background: #f05223 !important;
    border-color: #e04e22 !important;
}

button.btn {
    border-radius: 0;
}

.b-product_grid_info h3 {
    margin-bottom: 8px;
}

.b-product_grid_info h3 a {
    font-family: "Lato", "sans-serif";
    font-weight: 400;
    color: #252222;
    letter-spacing: .3px;
    font-size: 15px;
    display: inline;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.b-product_grid_toggle {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}

.b-product_grid_toggle .b-add_cart {
    top: 0px;
    position: relative;
    font-family: "Karla", "sans-serif";
}

.b-product_grid_toggle .b-add_cart i {
    font-size: 16px;
    font-weight: bold;
    margin-right: 3px;
}

.b-product_grid_toggle .b-price {
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    top: 0;
    color: #bbbbbb;
    display: block;
    font-size: 16px;
    text-align: left;
    position: relative;
}

.b-product_grid_single:hover .b-product_grid_toggle .b-price {
    top: -30px;
}

.b-product_grid_single:hover .b-product_grid_toggle .b-add_cart {
    top: -30px;
}

.b-product_single_summary h1 {
    font-family: "Lato", "sans-serif";
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    font-size: 38px;
    margin-bottom: 10px;
}

.b-product_single_summary .b-price span {
    font-size: 28px;
    color: #f05223;
}

.b-product_single_summary .b-product_single_action {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.17);
    margin-bottom: 20px;
}

.b-product_single_summary .b-product_single_action .btn {
    background-color: #f05223;
    color: #fff;
}

.b-product_tabs .nav {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #CCC;
    background: #FFF;
    padding: 10px;
}

.b-product_tabs .nav li {
    display: inline-block;
    margin-right: 30px;
}

.b-product_tabs .nav-tabs .nav-link.active,
.b-product_tabs .nav-tabs .nav-item.show .nav-link {
    color: #ff5019;
    border: none;
    border-bottom: 3px solid #ff5019;
    background-color: transparent;
}

.b-product_tabs .nav li a {
    padding: 3px 0;
    border: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #393231;
}

.b-product_tabs .tab-content {
    width: 100%;
    padding: 20px;
    background: #FFF;
}

.b-product_tabs .tab-content > div {
    width: 100%;
}

.b-breadcrumbs a, .b-breadcrumbs span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    display: inline-block;
}

.b-breadcrumbs a {
    padding-right: 20px;
    position: relative;
    margin-right: 5px;
}

.b-breadcrumbs > a:first-child::before {
    content: "\f015";
    display: inline-block;
    margin-right: 5px;
    font-family: FontAwesome;
}

.b-checkout .panel {
    margin-bottom: 20px;
    background-color: #f9f5f5;
    border: 1px solid transparent;
}

.b-checkout .panel-heading {
    padding: 12px 15px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #0a0a0a;
    margin-bottom: 20px;
}

.b-cart_default td, .b-cart_default th {
    vertical-align: middle !important;
}

.vertical-divider {
    overflow: hidden;
    width: 10px;
    height: 80px;
}

.vertical-divider .mask {
    overflow: hidden;
    width: 20px;
    height: 40px;
    margin-top: 25px;
}

.vertical-divider .mask::before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
}

.vertical-divider .mask::before {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    -webkit-box-shadow: 0 0 8px #9c9c9c;
    box-shadow: 0 0 8px #9c9c9c;
}

.b-main_menu > ul > li.active a span {
    padding-bottom: 5px;
    border-bottom: 5px solid #f05224;
    color: #f05224;
    font-weight: bold;
}

.icon-last-menu img {
    max-width: 55px;
}

.icon-last-menu span {
    text-transform: uppercase;
}

.b-header_search .input-group-prepend {
    position: absolute;
    top: -4px;
    left: 0px;
    z-index: 5;
    width: 45px;
    height: 45px;
}

.b-header_search .input-group-text {
    background: #4c4c4c;
    color: #FFF;
    border-radius: 50% !important;
    width: 45px;
    padding: 0px 5px;
}

.b-header_search input {
    border-radius: 20px !important;
    padding-left: 50px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.b-header_search input:active, .b-header_search input:focus {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.b-main_menu:not(.b-vertical) > ul > li > a,
.b-main_menu:not(.b-vertical) > ul > li,
.b-main_menu:not(.b-vertical) > ul {
    line-height: 40px;
    height: 40px;
}

.welcome-user span {
    color: #4d4d4d;
}

.welcome-user span.orange {
    color: #f05224;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ff5019;
    z-index: 10;
}

section.slider {
    padding: 0;
    position: relative;
}

section.slider .slide img {
    width: 100%;
    position: relative;
}

section#logo-brands,
section#offers {
    background: #FFF;
}

.b-footer_container .b-social-icons {
    display: block;
    list-style: none;
    line-height: 1;
    padding: 0;
}

.b-footer_container .b-social-icons li {
    color: rgba(255, 255, 255, 0.6);
    margin: 5px 5px 0 5px;
    display: inline-block;
}

.b-footer_container .b-social-icons li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.b-footer_container .b-social-icons li a {
    font-size: 0;
    color: rgba(255, 255, 255, 0.6);
}

.b-footer_container .b-social-icons li a i {
    font-size: 18px;
}

.b-footer_container .b-social-icons li a:hover {
    color: #fff;
}

img.logo-footer {
    width: 100%;
}

img.footer-icon {
    max-height: 50px;
}

footer ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul.links li {
    margin-bottom: 10px;
}

footer ul.links li a {
    color: rgba(255, 255, 255, 0.6);
}

footer ul.links li a:hover {
    color: #FFF;
    text-decoration: none;
}

footer .b-footer_column h5 {
    position: relative;
}

footer .b-footer_column h5::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #f05224;
}

.b-header_search small.form-error-msg {
    position: absolute;
    top: 12px;
    right: 15px;
}

.b-product_grid_single {
    position: relative;
    padding: 15px;
    background: #FFF;
}

.b-product_grid_single h3.product-title {
    font-size: 16px;
    min-height: 40px;
    position: relative;
    padding-top: 5px;
}

.b-product_grid_single span.b-distance {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.b-product_grid_single h3.product-title::before {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #313131;
}

.b-product_grid_footer {
    border-top: 1px solid #ff835f;
}

.b-product_grid_footer span.regular-price {
    font-size: 12px;
}

.b-product_grid_footer span.zero {
    font-size: 10px;
}

span.new-price {
    text-align: center;
    display: block;
    font-size: 25px;
    color: #f05224;
}

.b-product_grid_footer span.new-price span.zero {
    font-size: 16px;
}

ul#b-lightSlider{
    list-style: none;
}

.b-product_grid_single h3.product-title a {
    color: #313131;
}

section#logo-brands h5.title::before,
section#offers h5.title::before,
#offers .offer-content .offert-text h5::before,
section#products h5.title::before {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #f05224;
}

section#logo-brands h5.title,
section#offers h5.title,
section#products h5.title {
    position: relative;
    padding-top: 10px;
    min-height: 50px;
    font-size: 26px;
}

img.icon-text {
    float: left;
    height: 40px;
    margin-right: 10px;
}

#offers .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}

#offers .offer-content {
    position: relative;
}

#offers .offer-content .offert-text {
    position: absolute;
    top: 40%;
    padding: 0 100px;
    color: #FFF;
}

#offers .offer-content .offert-text h5 {
    position: relative;
    padding-top: 10px;
}

#offers .offer-content .offert-text p {
    font-size: 18px;
}

section#faqs div.card-header a {
    color: rgba(255, 255, 255, 0.8);
    transition: ease all 0.5s;
}

section#faqs div.card-header a:hover{
    color: #FFF;
    text-decoration: none;
}

section#faqs div.card-header {
    background: #f05224;
    border-radius: 0;
}

section#faqs ngb-accordion .card {
    margin-bottom: 10px;
}

.b-my_account li.list-group-item.active {
    background: #f05224;
    border-color: #e44e22;
}

.b-my_account li.list-group-item:first-child,
.b-my_account li.list-group-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.b-my_account li.list-group-item {
    cursor: pointer;
}

section#b-my_account .account-box.active {
    display: block;
}

section#b-my_account .account-box {
    display: none;
}

.direction-box {
    border: 1px solid #CCC;
    padding: 10px;
}

.direction-box .direction-name p {
    margin-bottom: 0;
}

.direction-form {
    margin-top: 20px;
}

.b-my_account .order-box div.card-header {
    background: #f05224;
}

.card-header:first-child {
    border-radius: 0 !important;
}

.b-my_account .order-box div.card-header a:hover {
    color: #FFF;
    text-decoration: none;
}

.b-my_account .order-box div.card-header a {
    color: rgba(255,255,255, 0.8);
}

.b-my_account .order-box div.card-header::after {
    font-family: "Fontawesome";
    color: #FFF;
    font-size: 15px;
    -webkit-transition: ease all 0.6s;
    transition: ease all 0.6s;
    position: absolute;
    top: 10px;
    right: 20px;
    content: '\F0D8';
}

.b-my_account .order-box div.card-header::after{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.b-my_account .order-box div.card-header.active::after{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

input#search_places {
    padding: .375rem .75rem;
    height: 38px;
}

.d-footer_bar ul.cards {
    padding: 0;
    margin: 0;
    list-style: none;
}

.d-footer_bar ul.cards li {
    display: inline-block;
    margin-right: 5px;
}

.d-footer_bar ul.cards li img {
    max-height: 25px;
}

.b-footer_container .b-social-icons img {
    height: 30px;
}

.b-header_search .input-group-text img {
    height: 28px;
}

.b-header_search input#phrase::placeholder {
    color: #ccc;
    text-transform: uppercase;
}

.b-header_search input#phrase::-webkit-input-placeholder {
    color: #CCC;
    text-transform: uppercase;
}

.b-header_search input#phrase::-moz-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

.b-header_search input#phrase:-ms-input-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

.b-header_search input#phrase:-moz-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

img.verified-icon {
    max-height: 70px;
    display: block;
    margin: 0 auto;
}

img.calim-icon {
    display: block;
    margin: 0 auto;
}

.b-product_grid_single .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.b-product_grid_single .product-image .image {
    width: 100%;
    height: 100%;
    background-color: #b5b5b5;
    background-position: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.b-product_grid_single:hover .image {
    transform: scale(1.2);
}

.ngucarousel-items ngu-item.item {
    padding: 0 10px;
}

.ngucarousel button.leftRs,
.ngucarousel button.rightRs {
    visibility: hidden;
    display: none !important;
}

img.marker-icon-header {
    float: left;
    height: 55px;
    margin-right: 10px;
}

section#logo-brands .ngucarouselPointDefault {
    display: none;
}


  